@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Inter-Regular.woff2) format("woff2"),
        url(/fonts/Inter-Regular.woff) format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Inter-Bold.woff2) format("woff2"),
        url(/fonts/Inter-Bold.woff) format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/fonts/Inter-Black.woff2) format("woff2"),
        url(/fonts/Inter-Black.woff) format("woff");
}

.page {
    display: flex;
    flex-direction: column;
    outline: 3px solid red;
    margin: 0 auto;
    max-width: 1280px;
    background-color: rgba(42, 44, 47, 1);
    color: rgba(255, 255, 255, 1);
    /*padding-left: 48px;
    padding-right: 48px;*/
}

@media (max-width: 1280px) {
    .page {
        width: 1280px;
    }
}

@media (max-width: 1024px) {
    .page {
        width: 1024px;
    }
}

@media (max-width: 768px) {
    .page {
        width: 768px;
    }
}

@media (max-width: 320px) {
    .page {
        width: 320px;
    }
}

.header {
    display: flex;
    min-width: 1184px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    justify-content: space-between;

}

/*@media (max-width: 1280px) {
    .header{
        min-width: 1184px;
    }
    
}*/

@media (max-width: 1024px) {
    .header {
        min-width: 928px;

    }
}

@media (max-width: 768px) {
    .header {
        min-width: 720px;

    }
}

@media (max-width: 320px) {
    .header {
        min-width: 288px;
        margin-top: 16px;

    }
}

.header__logo {}

@media (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}



.header__links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */

    text-align: right;
    color: #FFFFFF;
}

.header__links_lang-link{
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 18px;
}


@media (max-width: 320px) {
    .header__links_lang-link {
        width: 22px;
        max-height: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }
}

.header__lang-link_status_active {
    text-decoration-line: underline;
}

.lead {
    outline: 3px solid red;
    justify-content: center;
    display: flex;
    margin-top: 56px;
    flex-direction: column;
    max-width: 984px;
    max-height: 1005px;
    margin-left: auto;
    margin-right: auto;

}

@media (max-width:768px) {
    .lead {
        margin-top: 48px;
    }
}

.lead__title {
    font-family: 'Inter';
    max-width: 720px;
    max-height: 200px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    display: flex;
    margin-top: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

@media (max-width:320px) {
    .lead__title {
        max-width: 288px;
        max-height: 88px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        /* or 110% */
        text-align: center;
    }
}

.lead__subtitle {
    font-family: 'Inter';
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    display: flex;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    max-height: 72px;
    text-align: center;
}

@media (max-width:320px) {
    .lead__subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */
        margin-top: 16px;
        text-align: center;
    }
}


.lead__image {
    margin-top: 64px;
}

@media (max-width:1024px) {
    .lead__image {
        height: 580px;
        width: 928px;
        margin-top: 56px;
    }
}

@media (max-width:768px) {
    .lead__image {
        height: 480px;
        width: 768px;
    }
}

@media (max-width:320px) {
    .lead__image {
        height: 200px;
        width: 320px;
        margin-top: 40px;
    }
}


.lead__caption {
    font-family: 'Inter';
    margin-top: 8px;
    width: 160px;
    max-height: 14px;

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media (max-width:768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (max-width:320px) {
    .lead__caption {
        margin-left: 16px;
    }
}

.intro {
    margin-top: 92px;
    max-width: 690px;
    max-height: 429px;
    margin-left: 148px;

}

@media (max-width:1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media (max-width:768px) {
    .intro {
        margin-left: auto;
        margin-top: 88px;
        max-width: 720px;
        margin-right: auto;
    }
}

@media (max-width:320px) {
    .intro {
        max-width: 288px;
        min-height: 754px;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 64px;
    }
}

.intro__title {
    display: inline-block;
    font-family: 'Inter';
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;

    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media (max-width:768px) {
    .intro__title {
        max-width: 720px;
    }
}

@media (max-width:320px) {
    .intro__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        /* or 109% */
        color: #FFFFFF;

    }
}



.intro__text {
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    max-width: 690px;
    max-height: 208px;

}

@media (max-width:320px) {
    .intro__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        /* or 26px */
        color: #FFFFFF;
    }
}

.intro__list {
    font-family: 'Inter';
    margin-top: 33px;
    margin-bottom: 0;
    max-width: 690px;
    max-height: 90px;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    padding: 0;

}

@media (max-width:320px) {
    .intro__list {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        /* or 150% */
        color: #FFFFFF;
    }
}

.photo-grid {
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
    min-height: 671px;
    max-width: 1184px;
    display: grid;
    grid-gap: 16px;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(284px, 1fr));



}

@media (max-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, minmax(288px, 1fr));
        max-width: 1184px;
        max-height: 671px;

    }
}

@media (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        max-width: 928px;
        max-height: 942px;
    }
}

@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, minmax(352px, 1fr));
        max-width: 720px;
        max-height: 1664px;
        margin-top: 88px;
    }
}

@media (max-width: 320px) {
    .photo-grid {
        grid-template-columns: repeat(1, minmax(288px, 1fr));
        max-width: 288px;
        max-height: 2724px;
        margin-top: 64px;
        grid-gap: 12px;
    }
}

.photo-grid__item {
    max-width: 284px;
}

@media (max-width: 1024px) {
    .photo-grid__item {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .photo-grid__item {
        width: 352px;
    }
}

@media (max-width: 320px) {
    .photo-grid__item {
        width: 288px;
    }
}


.places {
    outline: 3px solid red;
    max-width: 984px;
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 80px;
}

@media(max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media(max-width: 768px) {
    .places {
        margin-top: 88px;
        max-width: 720px;
        row-gap: 73px;
    }
}

@media(max-width: 320px) {
    .places {
        margin-top: 64px;
        max-width: 320px;
        row-gap: 50px;

    }
}

.place {
    display: grid;
    column-gap: 40px;
    row-gap: 48px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "place__title place__website"
        "place__image place__paragraph";

    flex-direction: column;
}

@media(max-width: 1024px) {
    .place {
        max-width: 928px;
        column-gap: 32px;
    }
}

@media(max-width: 768px) {
    .place {
        max-width: 720px;
        column-gap: 28px;
    }
}

@media(max-width: 320px) {
    .place {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "place__title"
            "place__website"
            "place__image"
            "place__paragraph";
        row-gap: 32px;
    }
}

.place__title {
    font-family: 'Inter';
    grid-area: place__title;
    width: 460px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;

    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media(max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media(max-width: 768px) {
    .place__title {
        max-width: 340px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        /* or 110% */
        width: min-content;
    }
}

@media(max-width: 320px) {
    .place__title {
        max-width: 288px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        /* identical to box height, or 109% */
        color: #FFFFFF;
        width: 100%;
        margin-left: 16px;

    }
}

.place__image {
    grid-area: place__image;
    width: 100%;
}

.place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    /* or 20px */
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;
}

.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity 1s ease-in-out;

}

.place__link:hover {
    opacity: 0.5;

}

.place__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #FFFFFF;
    grid-area: place__paragraph;
    width: 484px;

}

@media(max-width: 1024px) {
    .place__text {
        max-width: 456px;
    }
}

@media(max-width: 768px) {
    .place__text {
        max-width: 352px;
        font-size: 16px;
        line-height: 163%;
    }
}

@media(max-width: 320px) {
    .place__text {
        max-width: 288px;
        font-size: 16px;
        line-height: 163%;
        margin-left: 16px;
    }
}

.place__paragraph {
    margin: 0 0 25px 0;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    color: #ffffff;
}

.place__paragraph:last-child {
    margin: 0;
}

@media(max-width: 768px) {
    .place__paragraph {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        /* or 26px */


        color: #FFFFFF;
    }
}

@media(max-width: 320px) {
    .place__paragraph {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        /* or 26px */


        color: #FFFFFF;
    }
}


.place__website {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    grid-area: place__website;
}

@media(max-width: 320px) {
    .place__website {
        margin-left: 16px;
    }
}

.cover {
    position: relative;
    width: 1184px;
    height: 740px;
    margin: 92px auto 0;
    z-index: 1;
    background-image: url(/sprint-3-images/cover-trains.jpg);
    background-position: center;
    background-size: 100%;
}

@media (max-width: 1024px) {
    .cover {
        width: 1024px;
        height: 640px;
    }
}

@media (max-width: 768px) {
    .cover {
        margin-top: 89px;
        width: 768px;
        height: 480px;

    }
}

@media (max-width: 320px) {
    .cover {
        width: 320px;
        height: 200px;
        margin-top: 66px;

    }
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0.3;
    transition: opacity 1s ease-in-out;
}

.cover:hover::before {
    opacity: 0.8;
}

.cover__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.cover__title {
    margin: 0;
    top: 245px;
    right: 312px;
    left: 312px;
    bottom: 343px;
    position: absolute;
    max-width: 560px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

@media (max-width: 1024px) {
    .cover__title {
        max-width: 560px;
        top: 195px;
        right: 232px;
        left: 232px;
        bottom: 293px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .cover__title {
        max-width: 560px;
        top: 115px;
        right: 104px;
        left: 104px;
        bottom: 213px;
        margin: 0;
    }
}

@media (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        top: 33px;
        right: 16px;
        left: 16px;
        bottom: 97px;
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        /* or 109% */

        /*text-align: center;*/

        color: #FFFFFF;
        z-index: 2;

    }
}

.cover__subtitle {
    margin: 0;
    position: absolute;
    top: 429px;
    bottom: 245px;
    left: 412px;
    right: 412px;
    max-width: 360px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

@media (max-width: 1024px) {
    .cover__subtitle {
        margin: 0;
        max-height: 66px;
        max-width: 360px;
        top: 379px;
        right: 332px;
        left: 332px;
        bottom: 195px;

    }
}

@media (max-width: 768px) {
    .cover__subtitle {
        margin: 0;
        max-height: 66px;
        max-width: 360px;
        top: 299px;
        right: 204px;
        left: 204px;
        bottom: 115px;

    }
}

@media (max-width: 320px) {
    .cover__subtitle {
        margin: 0;

        max-width: 288px;
        top: 119px;
        right: 16px;
        left: 16px;
        bottom: 33px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        /* or 114% */

        text-align: center;

        color: #FFFFFF;

    }
}

.footer {
    margin-top: 92px;
    margin-bottom: 24px;
    outline: 3px solid red;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 92.5%;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .footer {
        width: 90.625%;
    }
}

@media (max-width: 768px) {
    .footer {
        width: 93.75%;
        margin-top: 88px;
    }
}

@media (max-width: 320px) {
    .footer {
        width: 58.12%;
        margin-top: 64px;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 118px;
    }
}

.footer__links {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    flex-direction: row;
    gap: 4.6%;

}

@media (max-width: 320px) {
    .footer__links {
        flex-direction: column;

    }
}


.footer__link {
    display: flex;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    color: #FFFFFF;
    transition: opacity 1s ease-in-out;
}

@media (max-width: 320px) {
    .footer__link {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        /* identical to box height, or 100% */
        margin-bottom: 32px;
        color: #FFFFFF;

    }
}



.footer__link:hover {
    opacity: 0.5;
}

.footer__copyrigth {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: end;
    color: #FFFFFF;
}



@media (max-width: 320px) {
    .footer__copyrigth {
        margin-top: 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height, or 100% */
        text-align: start;
        color: #FFFFFF;
    }
}