.cover__subtitle {
    margin: 0;
    position: absolute;
    top: 429px;
    bottom: 245px;
    left: 412px;
    right: 412px;
    max-width: 360px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

@media (max-width: 1024px) {
    .cover__subtitle {
        margin: 0;
        max-height: 66px;
        max-width: 360px;
        top: 379px;
        right: 332px;
        left: 332px;
        bottom: 195px;

    }
}

@media (max-width: 768px) {
    .cover__subtitle {
        margin: 0;
        max-height: 66px;
        max-width: 360px;
        top: 299px;
        right: 204px;
        left: 204px;
        bottom: 115px;

    }
}

@media (max-width: 320px) {
    .cover__subtitle {
        margin: 0;

        max-width: 288px;
        top: 119px;
        right: 16px;
        left: 16px;
        bottom: 33px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        /* or 114% */

        text-align: center;

        color: #FFFFFF;

    }
}