.place__text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #FFFFFF;
    grid-area: place__paragraph;
    width: 484px;

}

@media(min-width: 769px) and (max-width: 1024px) {
    .place__text {
        max-width: 456px;
    }
}

@media(min-width: 321px) and (max-width: 768px) {
    .place__text {
        max-width: 352px;
        font-size: 16px;
    }
}

@media(max-width: 320px) {
    .place__text {
        max-width: 288px;
        margin-left: 16px;
    }
}
