.footer__links {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    flex-direction: row;
    gap: 4.6%;

}

@media (max-width: 320px) {
    .footer__links {
        flex-direction: column;

    }
}
