.footer__copyrigth {
    font-family: 'Inter',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: end;
    color: #FFFFFF;
    margin: 0;
}



@media screen and (max-width: 767px) {
    .footer__copyrigth {
        line-height: 14px;
        /* identical to box height, or 100% */
        text-align: start;
        margin: 0 0;
    }
}