.footer__copyrigth {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: end;
    color: #FFFFFF;
}



@media (max-width: 320px) {
    .footer__copyrigth {
        margin-top: 16px;
        line-height: 14px;
        /* identical to box height, or 100% */
        text-align: start;
        margin: 16px 0 0;

    }
}