.lead__subtitle {
    font-family: 'Inter';
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    display: flex;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    /*max-height: 72px;*/
    text-align: center;
}

@media (max-width:320px) {
    .lead__subtitle {
        max-width: 288px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */
        margin-top: 16px;
        text-align: center;
    }
}