.place__url-heading {
    text-transform: uppercase;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    /* or 20px */
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;
    margin-top: 0px;
}
@media  (max-width: 1023px) {
    .place__url-heading {
        line-height: 12px;
    }
}

