.place__website {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    grid-area: place__website;
}

@media(max-width: 320px) {
    .place__website {
        margin-left: 16px;
    }
}
