.intro__title {
    display: inline-block;
    font-family: 'Inter';
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;

    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media (min-width:321px) and (max-width:768px) {
    .intro__title {
        max-width: 720px;
    }
}

@media (max-width:320px) {
    .intro__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        /* or 109% */
        color: #FFFFFF;

    }
}