.intro__title {
    display: inline-block;
    font-family: 'Inter', Arial, sans-serif ;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}



@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        /* or 109% */
        
    }
}